@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to Test page</h1>

    <h2> An MVC login testing page made by Paulius</h2>
    
    <img  src="@Url.Content("Images/DB.jpg")" class="image-with-shadow " alt="Data example" width="1000" height="300" style="border: 1px solid black;"/>
</div>

<style>
    .image-with-shadow {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
        border-radius: 8px; /* Optional: adds rounded corners */
        margin-top: 50px;
        max-width: 100%;
        height: auto;
    }
</style>