@using Microsoft.AspNetCore.Identity
@using LoginMVC_Database.Areas.Identity.Data

@inject SignInManager<LoginMVC_DatabaseUser> SignInManager
@inject UserManager<LoginMVC_DatabaseUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-bar-button-color" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName! @UserManager.GetUserAsync(User).Result.LastName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-bar-button-color btn ">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-bar-button-color" style="font-size: 16.5px" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
